<div id="rootcarousel" class="imageSize">

  <div id="img1" class="img1cls border green imageHolder">
  </div>
  <div id="img2" class="img2cls border blue imageHolder">
  </div>
  <div id="img3" class="img3cls border yellow imageHolder">
  </div>
  <div id="img4" class="img4cls border red imageHolder">
  </div>
  <div id="img5" class="img5cls border purple imageHolder">
  </div>


  <button class="border" id="buttonRight" >
    to right
  </button>
  <button class="border" id="buttonLeft" >
    to left
  </button>
</div>
