:root{
    --wimg: 500px;
    --himg: 250px;
}

#app{
    width: 100%;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
}

body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
}

.border{
    width: 2rem;
    height: 2rem;
    border: 1px solid black;
}

.imageHolder{
    width: var(--wimg);
    height: var(--himg);
    position: absolute;
    transition: all 0.4s ease;
    background-size: cover;
    border: 0px solid black;
    background-repeat: no-repeat;
    border-radius: 1.5rem;
}

#rootcarousel{
    position: relative;
}

.imageSize{
    width: var(--wimg);
    height: var(--himg);
}

.img1cls {
    opacity: 50%;
    scale: 75%;
    left: -200px;
    z-index: 5;
}

.img2cls {
    left: -100px;
    opacity: 75%;
    scale: 87.5%;
    z-index: 7;
}

.img3cls {
    opacity: 100%;
    z-index: 10;
    scale: 100%;
    left: 0px;
    bottom: 0px;

}
.img4cls {
    left: 100px;
    opacity: 75%;
    scale: 87.5%;
    z-index: 7;

}
.img5cls {
    left: 200px;
    opacity: 50%;
    scale: 75%;
    z-index: 5;
}


#buttonLeft {
    position: absolute;
    bottom: -210px;
    right: 0px;
}
#buttonRight {
    position: absolute;
    bottom: -210px;
    left: 0px;
}
.green{
    background-color: green;

}
.blue{
    background-color: blue;
}
.red{
    background-color: red;
}
.yellow{
    background-color: yellow;
}
.purple{
    background-color: purple;
}
